body{
    background-image: url('https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTd8fGNhbmR5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60');
    background-repeat: none;
    background-size: cover;
}

h1{
    text-align: center;
    border-style: dotted;
    border-color: white;
    border-radius: 30px;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
    color: white;
}

div{
    border-style: groove;
    border-color: magenta;
}

table,td,th{
    border: 2px solid white
}
table{
    margin-left: auto;
    margin-right: auto;
}
ul{
    text-align: left;
}

iframe{
    margin-left: auto;
    margin-right: auto;
}
